extends layout

block content
  each v in data
    p #{v.name}
  div.container
    br
    br
    br
    div.row
      div.col-md-6.col-md-offset-3
        h3= title
        br
        if message
          h4 #{message}
        if message == false
          h4 Tambah produk gagal!
        form(action='/edit-produk', method='post')
          input(type='hidden', name='id', value=data.id)
          div.form-group
            label(for='name') Nama Produk: 
            input(type='text', name='name', value=data.name).form-control#name
          div.form-group
            label(for='price') Harga Produk: 
            input(type='text', name='price' value=data.price).form-control#price
          div.form-group
            label(for='category') Kategori Produk: 
            select(name='category').form-control#category
              if data.category == 'Sembako'
                option(value='Sembako', selected) Sembako
              else
                option(value='Sembako') Sembako
              if data.category == 'Obat-obatan'
                option(value='Obat-obatan', selected) Obat-obatan
              else
                option(value='Obat-obatan') Obat-obatan
              if data.category == 'Umum'
                option(value='Umum', selected) Umum
              else
                option(value='Umum') Umum
          div.form-group
            input(type='submit', value='Tambahkan').btn.btn-primary